body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

#page_principal {
    width: 1200px;
    margin: auto;
    
}

header {
    position: relative;
    display: flex;
    align-content: flex-end;
}

#logo{
    display: flex;   
    align-items: flex-end;
}

#menu {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
}

#menu a{
    color: #000;
    text-decoration: none;
    padding-right: 25px;
    padding-left: 25px;
}

.media_menu{
    display: flex;
    align-items: flex-end;
}

#menu_inscrire a{
    color:#0065FC;
    font-weight: bold;
}

#menu div a:hover {
    color :#0065FC;
}

.media_menu div {
     padding-top: 20px;
}
.media_menu div:hover {
     border-top: 2px solid #0065FC;
}

.title {
    margin-top: 40px;
}

#input_form { 
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 30%;
    height: 46px;
    

}

#search { 
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    height: 100%;
    width: 57%;
    outline: none;
    font-weight: bold;
    padding-left: 10px;
    font-size: 1em;   
}

button { 
    width: 32%;
    height: 100%;
    border: none;
    background-color: #0065FC;
    color:#fff;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    font-size: 1em;
}

button:hover {
    opacity: 0.8;
}

#input_form label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    height: 100%;
    background: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

label img {
    width: 15px;
    height: 20px;
}

/*button pour media querries*/
#loupe {
    display: none;
    width: 12%;
    height: 100%;
    background-color: #0065FC;
    border-radius: 15px;
}

#loupe img {
    width: 15px;
    height: 20px;
}

/*titres principaux*/
h2 {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    
}

/*Le titre principal de la description.*/
h4 {
    margin-top: 5px;
    font-weight: 300;
    margin-bottom: 10px;
}

/*block pour les filtres*/
#filtres {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0;
    font-weight: bold;

}

#filtres ul {
    display:flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.filtre_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    height: 43px;
    border: 2px solid #F2F2F2;
    border-left: none;
    cursor: pointer;
    transition: 0.5s;
    
    
}

.filtre_block img {
    display: flex;
    background-color: #DEEBFF;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    padding: 10px;
    
}

.filtre_text {
    padding: 8px;
}

.filtre_block:hover{
    color: #0065FC;
}


#info {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

#info img {
    margin-right: 10px;
    height: 24px;
    width: 24px;
}

/* Hébergements à Marseille */

section {
    display: flex;
}

#hebergements, #plus_populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    
}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#hebergements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex:3;
  
}

#plus_populaires {
    margin-left: 30px;
    flex:1.2;
    
}

/*titre pribcipal pour block les plus populaires*/
.name {
    margin: 30px;
    display: flex;
    justify-content: space-between;   
    align-items: flex-start;
}

.hebergements_block {
    margin-bottom: 30px;
    height: 190px;
    width: 230px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 20px;box-shadow: 10px 10px 25px -19px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.5s;
}

.hebergements_block:hover {
    opacity: 0.6;
}

.hebergements_photo {
    width: 100%;
    height: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

/*Afficher plus*/
#plus {
    padding-top: 10px;
    padding-left: 30px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}


.description_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.hebergements_block p {
    padding: 0;
    margin: 0;
}

/*block les plus populaire*/

#plus_populaires_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}



.plus_populaires_block {
    display: flex;
    margin-bottom: 30px;
    height: 130px;
    width: 90%;
    background-color: #ffff;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 10px 10px 25px -19px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 0.5s;
}

.plus_populaires_photo {
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.plus_populaires_block:hover {
    opacity: 0.6;
}

.description_plus_populaires {
    position: relative;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    left: 10px;
    flex-wrap: wrap;
}

.name_description {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.description_plus_populaires p {
    margin: 0;
    padding: 0;
}

/* les étoiles dans la description*/
.description_plus_populaires .rating {
    position: absolute;
    bottom: 5px;   
}

.rating {
	padding-top: 5px;
	font-size: 0;
}
.rating img {
	padding-left: 2px;
	width: 15px;
	color: #F2F2F2;
}


/*  Activités  à Marseille */

/*title*/

#activites_a_marseille {
    margin-top: 50px;
    margin-bottom: 30px;
}

#activite_block {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-auto-rows: minmax(220px, auto);
    justify-content: space-between;
    grid-gap: 30px;
}


.photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 10px 10px 25px -19px rgba(0,0,0,0.75); 
    cursor: pointer;
    transition: 0.5s;
}

.photo1 {
    grid-row: span 2;
    background-image: url(images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);  
}


.photo2 {
    background-image: url(images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    grid-column: 2/3;
    grid-row: 1/2;   
}

.photo3 {
   background-image: url(images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
   height: 180px;
   grid-column: 2/3;
   grid-row: 2/3;  
   align-self: end;
}

.photo4 {
    grid-column: 3 / 3;
    grid-row: span 2;
    background-image: url(images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);  
}


.photo5 {
    background-image: url(images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    height: 180px;
    grid-column: 4/4;
    grid-row: 1/2;   
}

.photo6 {
    background-image: url(images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    grid-column: 4/4;
    grid-row: 2/3;    
}



.activ_name {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: #ffff;
    width: 100%; 
    height: 60px;
    border-radius: 0px 0px 15px 15px;
    font-weight: bold;
    font-size: 0.9em;
}

.activ_name p {
    padding-left: 6px;
} 

footer {
    position: relative;
    width: 100%;
    margin-top: 55px;
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
}

#footer_box {
    margin-left: 40px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}




.liste {
    display: flex;
    flex-direction: column;
}


footer h4 {
    font-weight: bold;
    font-size: 1.1em;
}

.liste a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    padding-top: 0.4em;
}



@media screen and (max-width: 900px) {
     #page_principal {
        width: auto;
    }
    
    .title_page {
        padding-left: 20px;
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    #input_form{
        width: 50%;
    }
    
    section {
        flex-direction: column-reverse;
    }
    
    #hebergements {
        background-color: #fff;
    }
    
    #plus_populaires {
        
        border-radius: 0px;
        margin-left: 0;
    }
     
   
    .hebergements_block {
        width: 40%;
    }
    
/*    title de block activite a marseille*/
    #activites_a_marseille {
        padding-left: 25px;
    }

     #activite_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
        height: 200px;
        width: 40%;
        align-self: center;
        margin-top: 20px;
    }
    
    #footer_box {
        width: 90%;
    }
}


@media screen and (max-width: 600px){
    
    
    #menu div:hover {
        border-top: none;  
    } 
    
    #logo {
        position: absolute;
        top: 8px;
        left: 10px;
    }
    #menu {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        font-size: 18px;
      
        
    }
    .media_menu {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
   
    #menu_inscrire {
       display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    
    .media_menu div {
        width: 50%;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #F2F2F2;
    }
    
    .media_menu div:hover {
        border-bottom: 2px solid #0065FC;
    }
    
    
    #filtres p {
        margin-bottom: 0;
    }
    
    #filtres ul{
        width: 100%;
        
    }
    .filtre_block {
        margin-bottom: 10px;
    }
   
    
    #input_form {
        margin-top: 20px;
        width: 100%;
    }
    
    button {
        display: none;
    }
   
    #search {
        width: 70%;
    }
    
    #loupe {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .plus_populaires_block {
        width: 90%;
    }
    
    .hebergements_block {
        width: 90%;
    }
    
    .article {
        display: flex;
        flex-direction: column;
    }
    
    
    #activite_block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .photo1, .photo2, .photo3, .photo4, .photo5, .photo6 {
        height: 200px;
        width: 90%;
        align-self: center;
        margin-top: 20px;
    }
    
    
    #footer_box {
        display: flex;
        flex-direction: column;
    }
    
    .footer_container:not(:first-child) {
        margin-top: 25px;
    }
}